* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

img {
    margin: 10px 15px;
}

#gifka {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 900;
    height: 300px;
}

#title_alert {
    position: absolute;
    top: 370px;
    left: 190px;
    z-index: 1000;
    color: brown;
}

#peski {
    position: absolute;
    top: 500px;
    left: 115px;
    width: 60px;
    height: 50px;
}

#osminog {
    position: absolute;
    top: 390px;
    left: 310px;
    width: 75px;
    height: 50px;
}

#pirats {
    position: absolute;
    top: 630px;
    left: 500px;
    width: 300px;
    height: 100px;
    background-color: black;
}

#corabl {
    position: absolute;
    top: 700px;
    left: 20px;
    height: 70px;
}